services:
  tg_app:
    build:
      dockerfile: project_tg/Dockerfile
      context: .
    container_name: telegram_app
    environment:
      APP_CONFIG__DB__URL: "postgresql+asyncpg://${POSTGRES_USER:?Error: POSTGRES_USER not set}:${POSTGRES_PASSWORD:?Error: POSTGRES_PASSWORD not set}@pg:5432/${POSTGRES_DB:?Error: POSTGRES_DB not set}"
      APP_CONFIG__T_BOT__TOKEN: ${APP_CONFIG__T_BOT__TOKEN}
      APP_CONFIG__AI_BOT__TOKEN_AI: ${APP_CONFIG__AI_BOT__TOKEN_AI}
    depends_on:
      - pg
    networks:
      - backend_network

  pg:
    image: postgres:latest
    container_name: tg_pg
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}" ]
      interval: 5s
      timeout: 3s
      retries: 3
    volumes:
      - ./postgresql-data:/var/lib/postgresql
    networks:
      - backend_network

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
      PGADMIN_CONFIG_SERVER_MODE: ${PGADMIN_CONFIG_SERVER_MODE}
    ports:
      - "5050:80"
    depends_on:
      pg:
        condition: service_healthy
    networks:
      - backend_network

networks:
  backend_network:
    driver: bridge

volumes:
  postgresql-data: